{% extends "base.html" %}   
{% block title %}hello{% endblock %}


{% block content %}

    <img src="/img/OoSaw.png" alt="Text"/><br><br>

    <a href="#" class="btn btn-danger btn-demo">Click Me</a>
    <p class="special">Hello Bootstrap</p>
    <script src="/js/hello.js"></script>

<h3>Button Variants</h3>
    <button type="button" class="btn btn-primary btn-demo">Primary</button>
    <button type="button" class="btn btn-secondary btn-demo">Secondary</button>
    <button type="button" class="btn btn-success btn-demo">Success</button>
    <button type="button" class="btn btn-danger btn-demo">Danger</button>
    <button type="button" class="btn btn-warning btn-demo">Warning</button>
    <button type="button" class="btn btn-info btn-demo">Info</button>
    <button type="button" class="btn btn-light btn-demo">Light</button>
    <button type="button" class="btn btn-dark btn-demo">Dark</button>
{% endblock %}        
